

    @mixin boton($color) {
        display: inline-block;
        background-color: $color;
        padding: .5rem 1rem;
        text-align: center;
        text-decoration: none;
        color: $blanco;
        border-radius: .3rem;
        width: 200px;
        margin-bottom: 2rem;
    }

    @mixin box-sizing($box-model) {
        box-sizing: $box-model;
    }

    @mixin  background-categoria($color) {
        background-color:$color;
    }
    @mixin  telefono {
        @media only screen and (min-width:#{$telefono}) {
            @content;
        }
    }

    @mixin  tablet {
        @media only screen and (min-width:#{$tablet}) {
            @content;
        }
    }

    @mixin  desktop {
        @media only screen and (min-width:#{$desktop}) {
            @content;
        }
    }